/* vars */

:root {
    --clr1: #606060;
    --clr2: #292929;
    --clr3: #58c93a;
    --clr4: #e2d4d4;

    --wide: 980px;
    --mid: 850px;
    --small-min: 750px
}






/* fonts */

@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: euro;
    src: url(../fonts/euro/eurof35.ttf);
}






/* base */

.pos-static{
    position: static;
}

::selection {
    background-color: var(--clr4);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* direction: rtl; */
}

html {
    font-family: lato;
    color: var(--clr1);
}







/* modal */



.info-modal>* {
    margin: 20px;
    font-family: lato;
}

.info-modal span {
    margin-bottom: 0;
    font-family: euro;
    font-weight: bold;
    font-size: 1.4rem;

}

.info-modal button {
    border: solid black 0.3px;
    padding: 20px;
    font-family: lato;
    font-weight: bold;
    background-color: var(--clr4);
}

.info-modal button:hover {
    background-color: lightcoral;
    transition: 0.5s;
}


.info-modal {
    box-shadow: -1px -3px 17px 10px #3d383878;
    display: flex;
    flex-direction: column;
    color: var(--clr2);
    background-color: #1DA1F2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    padding: 80px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;

    background-color: var(--clr4);
}



.open-modal {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.5s;
}


.close-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;

    cursor: pointer;
    transition: opacity 0.3s;
    pointer-events: none;

}

.close-modal-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;

    cursor: pointer;
    transition: opacity 0.3s;
    pointer-events: none;

}

.close-modal-screen-open {
    pointer-events: all;

    opacity: 0.5;
    transition: opacity 0.3s;
}

.close-screen-open {
    pointer-events: all;

    opacity: 0.5;
    transition: opacity 0.3s;
}








/* page buttons */

.page-move .page-next,
.page-pre {
    text-transform: uppercase;
    font-family: lato;
    color: #818181;
    text-decoration: none;
    padding: 26px;
    font-weight: bold;



}

.page-move {
    direction: ltr;
}

.page-move .page-next:hover,
.page-pre:hover {
    color: #686262;
    ;
}

.page-move {
    border-top: #e7e7e7 solid 1px;

}






/* layout */

.main-layout>*:not(.full) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}








/* flex helpers */

.flex {
    display: flex
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}








/* header */
header{
    direction: ltr;
}
.logo {
    font-family: euro;
    font-size: 2.5rem;
    cursor: pointer;
    user-select: none;

}

.logo::after {
    content: ".";
    color: var(--clr3);

}

.hamburger {
    padding: 20px;
    font-size: 2rem;
    color: var(--clr4);
    background-color: var(--clr2);
    border: none;
    cursor: pointer;


}

.hamburger:hover {
    color: var(--clr1);
}

.header-flex {
    height: 100%;
    padding: 50px;
}

.main-header {
    background-color: #292929;
    color: #ffffff;
    flex-basis: 130px;
    box-shadow: inset 0 -6px 0 #1e1e1e;

}

.main-nav-list {
    background-color: var(--clr4);
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 30vw;
    transition: left 0.5s;
    box-shadow: 0, 0, 0;
    border: solid var(--clr2) .5px;


}

.menu-open {
    left: 70%;
    transition: left 0.5s box-shadow 0.4s;
    box-shadow: -4px -1px 20px 0px #1e1e1e8c;

}

.main-nav-list li a {
    text-decoration: none;
    color: var(--clr2);
    font-size: 1.5rem;
    font-family: lato;
    
    
    
}

.main-nav-list li {
    padding-top: 20px;
    padding-bottom: 50px;
    cursor: pointer;
    font-family: euro;
    font-weight: bold;
    text-align: center;
        position: relative;
}

.main-nav-list li:hover {
    background-color: #e1e0e0;
}

.main-footer {
    background-color: #ffffff;
    flex-basis: 315px;


}


.drop-down {
    background-color: var(--clr4);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100%;
    opacity: 0;
    pointer-events: none;
    top: 0;
    background-color: #1e1e1e;
    transition: opacity 0.3s;
    transform:scaleX(0%);
    transition: all 0.3s;

    
    
}

.drop-side-toggle li:hover{
    background-color: var(--clr4);
    color: var(--clr2)
}

.drop-side-toggle {
    opacity: 0.8;
    pointer-events: all;
    transition: all 0.3s;
    transform-origin: left;
    transform: scaleX(100%);
}

.drop-down li {
    
    
    color: var(--clr4);
    font-size: 1.5rem;
    padding: 5px;
    padding-inline-end: 20px;


}

.drop-down li:hover{
    color: var(--clr1);
}






/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}





/* page body */

.main-content {
    padding-top: 80px;
    border: 1px solid #e1e0e0;
}





/* footer */



.logo-footer {
    color: var(--clr2);
    font-size: 2.5rem;
    padding-top: 80px;
    padding-bottom: 30px;
    direction: ltr;
    font-family: euro;
    font-weight: bold;

}


.logo-footer::after {
    content: ".";
    color: var(--clr3);
}


.rights {
    font-size: 0.8125rem;
    padding-bottom: 38px;
    direction: ltr;
}

.pixel-hint {
    text-decoration: none;
    color: var(--clr2);
    font-weight: bold;
}

.pixel-hint:hover {
    color: #516fad;
}

.social-list li {
    background-color: #e5e5e5;
    padding: 13px 16px;
    margin-inline-end: 20px;
    cursor: pointer;
}
.facebook img{
    position: relative;
    left: 4px;
}


.facebook {
    padding-right: 4px;

}

.facebook-item:hover {
    background-color: #516fad;
    text-align: center;


}

.twitter-item:hover {
    background-color: #1DA1F2;
}

.be-item:hover {
    background-color: var(--clr3);
}

.myspace-item:hover {
    background-color: orange;
}

.social-list {
    direction: ltr;
}




/* cards */

.card-title {
    text-transform: uppercase;
}

.text-container {

    margin-inline-start: 45px;
    margin-inline-end: 10px;

}

.card-text {
    line-height: 26px;
    margin-top: 50px;
}

.select-drop {
    width: 100%;
    height: 100%;
}

.card .card-button {
    align-self: flex-start;
    border: 2px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 13px;
    color: #c2c1c1;
    font-weight: 700;
    width: 186px;
    align-self: center;
    margin-top: 30px;
    cursor: pointer;



}

.card .card-button:hover {
    border: 2px solid var(--clr3);
    color: var(--clr3);



}

.card .card-button:hover:after {
    content: "→";

}

.card-image {
    width: 100%;
}

.card {
    margin-bottom: 80px;
}









/* views */

/* small */
@media (min-width:800px) {
    .header-flex {
        padding: 0;
    }

    .drop-down {
        flex-direction: column;
        background-color: var(--clr1);
        position: absolute;
        width: 100%;
        right: 0;
        top: 100%;
        opacity: 0;
        transition: all 0.5s;
        transform-origin: top;
        pointer-events: none;
        box-shadow: -1px 10px 12px 2px #1e1e1e5e;
        transform:scaleY(0%)
    }

    .drop-down-open {
        opacity: 0.9;
        pointer-events: all;
        transition: all 0.6s;
        transform:scaleY(100%)
    }

    .drop-down li {
        margin: 10px;
    }

    .hamburger {
        display: none;
    }

    .main-layout>*:not(.full) {
        max-width: var(--small-min);

    }




   
    .main-nav-list {
        display: flex;
        position: static;
        height: inherit;
        width: inherit;

    }

    .main-nav-list>li:last-child {
        border-right: solid #1e1e1e 2px;
    }

    .main-nav-list li a {

        box-shadow: inset 0 -6px 0 #1e1e1e;
        color: white;
        text-decoration: none;
        padding: 55px 37px;
        border-left: solid #1e1e1e 2px;
        display: block;
        font-size: 1rem;



    }

     .main-nav-list li a:hover {

        box-shadow: inset 0 -6px 0 var(--clr3);
        color: var(--clr3);


    } 
   

    .main-nav-list li {
        padding-bottom: 0px;
        padding-top: 0;
        
        
    }

    .main-nav-list li a {
        background-color: var(--clr2);
    }



}

/* mid */
@media (min-width: 900px) {
    .main-layout>*:not(.full) {
        max-width: var(--mid);

    }

    .card {
        display: flex;
        
        
    }

    .card .card-button {
        align-self: flex-start;
    }




}

/* desktop */
@media (min-width:1044px) {
    .main-layout>*:not(.full) {
        max-width: var(--wide);

    }
}